@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  /*--background-start-rgb: 214, 219, 220;*/
  /*--background-end-rgb: 255, 255, 255;*/
  --background-primary: '#ffffff';
  --background-secondary: '#f5f8fc';
  --text-primary: '#1a1a1a';
  --text-secondary: '#f1f1f1';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
  background-color: var(--background-primary);
  text-rendering: optimizeLegibility;
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*color: var(--text-primary);*/
  font-family: Poppins;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  /*background-color: #fff;*/
  /*color: #7e7e7e;*/
}

.class {
  /*font-family: var(--font-poppins);*/
}

/*.fixed-header {*/
/*  @apply fixed top-0 left-0 w-full z-50 bg-white shadow-md animate-fade-down;*/
/*}*/

.container {
  @apply max-w-[1170px] w-full mx-auto h-auto px-[20px] relative;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.85);
  z-index: 99;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: none;
  background: #fff;
  overflow: initial;
  border-radius: 4px;
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all .3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

a.active:before{
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .5s;
}

@keyframes custom-scale-x {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}


